<h2>Log in</h2>

<form method=POST action=/login>
	<input type=text placeholder="email" name=user[email]><br>
	<input type=password placeholder="password" name=user[password]></br>
	<input type=submit value="Log in">
</form>
<h2>Don't have an account? Sign up <a href="/users/new">here</a>!</h2>

