<h2>My questions</h2>

	<% unless @my_questions.present? %>
	<%= "You haven't asked anything yet." %><br><br>
	<% else %>
	<% @my_questions.each do |question| %>
	<ul><%= question.title %> </ul>
	<% end %>
<% end %>